@import url(../../node_modules/uikit/dist/css/uikit.min.css);

body {
  line-height: 1.8rem;
}

blockquote {
  margin: 3rem 0 3rem 2rem;
  padding-left: 1rem;
  border-left: 2px solid #e5e5e5;
  font-size: 1rem;
}
